.git
.gitignore
.env
.env.*
.dockerignore
.idea
.vscode
node_modules
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
storage/app/**
bootstrap/cache/**
tests
phpunit.xml
README.md
docker
*.log 